streamlit==1.50.0

langchain==1.0.8
langchain-community==0.3.31
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.11

faiss-cpu==1.9.0

sentence-transformers==3.4.1

groq==0.30.0

pypdf==5.1.0

numpy
